.dis-card{
    width: 130px;
    height: 185px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    color: black;
    img{
        width: 138px;
    }
    p{
        padding: 10px;;
        
    }
}