.dis-card {
	margin-left: 20px;
	width: 130px;
	height: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	border-radius: 10px;
	color: black;
	img {
		width: 100px;
	}
	p {
		padding: 10px;
		height: auto;
	}
}
